.headerMenuBar{
    display: grid;
    position: static;
    width: 100%;
    height: 100%;
    grid-template: repeat(2, 1fr) / 1fr 8fr 1fr 1fr 1fr 2fr;
    grid-template-areas:
    "headerSearchIcon headerInput headerBellIcon headerMenuUserImage headerUserName ."
    ". headerUserImage headerButtonNew headerButtonUpload headerButtonShare .";
    gap: 2px 10px;
    margin-bottom: 15px;
}
/* Upper part */
.headerSearchIcon{
    grid-area: headerSearchIcon;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.headerSearchIcon i{
    margin-right: 10px;
}
.headerInput{
    grid-area: headerInput;
    display: flex;
    justify-content: start;
    align-items: center;
}
.headerInput input{
    height: 32px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.25);
    border: transparent 0px;
    border-radius: 15px;
    padding: 0px 20px;
}
.headerInput input:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
.headerInput input:focus{
    outline: #16F28B solid 2px;
    border-color: #16F28B solid 2px;
    background-color: transparent;
}
.headerBellIcon{
    grid-area: headerBellIcon;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerBellIcon i{
    font-size: 24px;
}
.headerMenuUserImage{
    grid-area: headerMenuUserImage;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.headerMenuUserImage img{
    height: 40px;
    width: 40px;
}
.headerUserName{
    grid-area: headerUserName;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.headerUserName p{
    font-size: 20px;
    font-weight: 700;
}
/* lower part */
.headerUserInfo{
    grid-area: headerUserImage;
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.headerUserInfo img{
    height: 60px;
    width: 60px;
}
.headerUserInfo .headerWelcomeUser p{
    font-weight: 500;
    font-size: 12px;
}
.headerUserInfo .headerWelcomeUser .headerWelcomeUserMsg{
    display: flex;
    align-items: center;
}
.headerUserInfo .headerWelcomeUser .headerWelcomeUserMsg h3{
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 24px;
}
.headerUserInfo .headerWelcomeUser .headerWelcomeUserMsg h6{
    font-weight: 500;
    font-size: 16px;
}
.headerButtonNew{
    grid-area: headerButtonNew;
}
.headerButtonUpload{
    grid-area: headerButtonUpload;
}
.headerButtonShare{
    grid-area: headerButtonShare;
}
.greenButton{
    background-color: #16F28B;
    font-weight: 600;
    padding: 10px 25px;
    border: 0px;
    border-radius: 15px;
}
.greenButton:hover{
    filter: brightness(120%);
}